.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: gray;
}
.navbar-inverse .navbar-brand:hover{
	color: gray;
}
.navbar-inverse{
	background-color: #2F485E;
}
.navbar-inverse{
	border-color: #2F485E;
}
h1{
	font-family: 'serif';
	font-weight: 100;
	font-size: 35px;
}

.jumbotron{
	background-color: #E4E9ED;
}
body{
	margin-top: 72px;
}